/auto/
/main.aux
/main.fdb_latexmk
/main.fls
/main.log
/main.toc
/_region_.log
/_region_.prv/
/_region_.tex
/notes-ligy.aux
t
/notes-ligy.tex.aux
/prv_main.log
/notes-ligy.fdb_latexmk
/notes-ligy.fls
/notes-ligy.log
/notes-ligy.toc
/notes-ligy.prv/
/prv_notes-ligy.log
/main.prv/
